!/gl/top/README-release.diff
!/po/POTFILES.in
*.gcda
*.gcno
*.lo
*.log
*.o
*.trs
*~
/.version
/ABOUT-NLS
/ChangeLog
/GNUmakefile
/INSTALL
/README-release
/aclocal.m4
/autom4te.cache/
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/contrib/doxygen/Doxyfile
/contrib/doxygen/doxygen_sqlite3.db
/contrib/doxygen/html/
/contrib/doxygen/latex/
/csharp/CombiningClass.cs
/csharp/Composition.cs
/csharp/CompositionExclusions.txt
/csharp/DecompositionKeys.cs
/csharp/DecompositionMappings.cs
/csharp/GenerateTables.exe
/csharp/Libidn.dll
/csharp/RFC3454.cs
/csharp/UnicodeData.txt
/csharp/rfc3454.txt
/csharpcomp.sh
/csharpexec.sh
/doc/Makefile.gdoc
/doc/coverage/
/doc/cyclo/cyclo-libidn.html
/doc/example.txt
/doc/example2.txt
/doc/example3.txt
/doc/example4.txt
/doc/example5.txt
/doc/fdl-1.3.texi
/doc/gendocs_template
/doc/gendocs_template_min
/doc/idn--help.texi
/doc/idn.1
/doc/java/html/
/doc/java/stamp-html
/doc/libidn-components.eps
/doc/libidn-components.pdf
/doc/libidn-components.png
/doc/libidn.aux
/doc/libidn.cp
/doc/libidn.cps
/doc/libidn.dvi
/doc/libidn.fn
/doc/libidn.fns
/doc/libidn.html
/doc/libidn.info
/doc/libidn.ky
/doc/libidn.log
/doc/libidn.pdf
/doc/libidn.pg
/doc/libidn.ps
/doc/libidn.t2d/
/doc/libidn.t2p/
/doc/libidn.toc
/doc/libidn.tp
/doc/libidn.vr
/doc/libidn.vrs
/doc/man/
/doc/manual/
/doc/reference/html-build.stamp
/doc/reference/html.stamp
/doc/reference/html/
/doc/reference/libidn-decl-list.txt
/doc/reference/libidn-decl-list.txt.bak
/doc/reference/libidn-decl.txt
/doc/reference/libidn-decl.txt.bak
/doc/reference/libidn-overrides.txt
/doc/reference/libidn-sections.txt
/doc/reference/libidn-undeclared.txt
/doc/reference/libidn-undocumented.txt
/doc/reference/libidn-unused.txt
/doc/reference/libidn.args
/doc/reference/libidn.hierarchy
/doc/reference/libidn.interfaces
/doc/reference/libidn.pdf
/doc/reference/libidn.prerequisites
/doc/reference/libidn.signals
/doc/reference/libidn.types
/doc/reference/pdf-build.stamp
/doc/reference/pdf.stamp
/doc/reference/scan-build.stamp
/doc/reference/setup-build.stamp
/doc/reference/sgml-build.stamp
/doc/reference/sgml.stamp
/doc/reference/tmpl-build.stamp
/doc/reference/tmpl.stamp
/doc/reference/tmpl/
/doc/reference/version.xml
/doc/reference/xml/
/doc/stamp-vti
/doc/texi/
/doc/version.texi
/examples/.deps/
/examples/.libs/
/examples/example
/examples/example2
/examples/example3
/examples/example4
/examples/example5
/fuzz/.deps/
/fuzz/libidn_*_fuzzer
/fuzz/libidn_*_fuzzer.new/
/gl/
/gtk-doc.make
/java/libidn-*.jar
/java/pom.xml
/java/src/main/java/gnu/inet/encoding/CombiningClass.class
/java/src/main/java/gnu/inet/encoding/Composition.class
/java/src/main/java/gnu/inet/encoding/DecompositionKeys.class
/java/src/main/java/gnu/inet/encoding/DecompositionMappings.class
/java/src/main/java/gnu/inet/encoding/IDNA.class
/java/src/main/java/gnu/inet/encoding/IDNAException.class
/java/src/main/java/gnu/inet/encoding/NFKC.class
/java/src/main/java/gnu/inet/encoding/Punycode.class
/java/src/main/java/gnu/inet/encoding/PunycodeException.class
/java/src/main/java/gnu/inet/encoding/RFC3454.class
/java/src/main/java/gnu/inet/encoding/RangeSet$1.class
/java/src/main/java/gnu/inet/encoding/RangeSet$Builder.class
/java/src/main/java/gnu/inet/encoding/RangeSet$Range.class
/java/src/main/java/gnu/inet/encoding/RangeSet$RangeContainsComparator.class
/java/src/main/java/gnu/inet/encoding/RangeSet.class
/java/src/main/java/gnu/inet/encoding/Stringprep.class
/java/src/main/java/gnu/inet/encoding/StringprepException.class
/java/src/main/java/gnu/inet/encoding/classnoinst.stamp
/java/src/util/java/GenerateNFKC.class
/java/src/util/java/GenerateRFC3454$Range.class
/java/src/util/java/GenerateRFC3454.class
/java/src/util/java/TestIDNA.class
/java/src/util/java/TestNFKC.class
/java/src/util/java/classnoinst.stamp
/java/target
/lib/.deps/
/lib/.libs/
/lib/gl/
/lib/idn-int.h
/lib/libidn.la
/lib/libidn.pc
/lib/m4/
/lib/rfc3454.c
/lib/rfc3454.h
/lib/tlds.c
/libidn-*.tar.gz
/libidn-*.tar.gz.sig
/libtool
/maint.mk
/po/
/pom.xml
/scan.tmp
/src/.deps/
/src/.libs/
/src/idn
/src/idn_cmd.c
/src/idn_cmd.h
/src/libidn_cmd.la
/stamp-h1
/tests/.deps/
/tests/libutils.a
/tests/tst_badutf8
/tests/tst_badutf8nfkc
/tests/tst_idna
/tests/tst_idna2
/tests/tst_idna3
/tests/tst_idna4
/tests/tst_nfkc
/tests/tst_pr29
/tests/tst_punycode
/tests/tst_strerror
/tests/tst_stringprep
/tests/tst_symbols
/tests/tst_tld
/tests/tst_toascii64oob
/tests/tst_toutf8
/tests/tst_utf8crash
/windows/libidn-*-win??.zip
/windows/libidn-*-win??.zip.sig
/windows/tmp32
/windows/tmp64
Makefile
Makefile.in
